:root{
    --main-bg: #F4F5F6;
    --gray-bg: #E6E9EF;
    --hover-bg:#CDD3DF;
}

/* CSS RESET - to optimize compatibility between browsers */
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* - Styling - */
/* General rules to avoid redundancies */
html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--main-bg);
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
    background-color: var(--gray-bg);
}

a:hover,
a:active {
    background-color: var(--hover-bg);
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.5rem;
}

.flex-box {
    display: flex;
}

img.logo {
    width: 250px;
}

nav, footer {
    background-color: var(--gray-bg);
}


/* - HEADER - */
header {
    width: 100%;
}

header img {
    margin: 1.5em auto 1.5em auto;
}


/* - NAVIGATION BAR - */
nav {
    position: sticky;
    top: 0;
    width: 100%;
    padding: 1.5em 4em;
    justify-content: space-between;
    flex-wrap: wrap;
    box-shadow: rgba(99, 99, 99, 0.2) 0 5px 7px 0px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav a {
    padding: 1.6em;
    padding-bottom: 1.65em;
}

/* - MAIN CONTENT - */
main {
    padding: 2.5em;
}

section.flex-box {
    flex-wrap: wrap;
    justify-content:space-between;
}

article {
    border: 1px solid lightgray;
    border-radius: 0.5em;
    background-color: white;
}

article img {
    width: 100%;
    border-radius: 0.4em 0.4em 0 0;
}

article.promo-card {
    color: whitesmoke;
    background: url(../img/rings-card-promo.png) no-repeat;
    background-size: cover;
    padding: 1.5em;
    margin: 0.5em 0;
    margin-bottom: 3em;
    width: 100%;
    aspect-ratio: 3/1 ;
}

article.promo-card h1 {
    margin-bottom: 0.5em;
}

article.card {
    max-width: 30vw;
    margin-bottom: 2em;
}

div.card-body {
    padding: 1.5em;
}

.card-body h2 {
    margin-bottom: 0.5em;
}

.card-footer {
    margin: 2em 0 1em 0;
}

.card-footer a {
    padding: 1em 1.5em;
    border-radius: 0.5em;
    border: 0.5px solid lightgrey;
}

/* - FOOTER - */

footer {
    padding: 1.5em 2em;
   
}

footer div.flex-box {
    justify-content: space-between;
    margin: 1em;
}

footer img.logo {
    width: 150px;
}

footer p {
    align-self: last baseline;
}

/* - Media queries for responsive behavior */

@media (width <= 992px) {

    article.card {
        max-width: 49%;
    }

    article.card:last-of-type {
        max-width: 100%;
    }
}

 @media (width <= 768px) {

    nav img.logo {
        display: none;
    }

    nav {
        padding: 1.5em 4em;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2em;
    }
    
    nav ul {
        display: flex;
        align-items: center;
    }
    
    nav a {
        padding: 1.5em 1em;
        padding-bottom: 1.55em;
    }
    
    article.promo-card h1 {
        font-size: 1.5em;
    }
    
    article.card {
        max-width: 100%;
    }

    footer div.flex-box {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1rem;
    }

    footer p {
        align-self: center;
    }
 }